@page
@model LEGOINNOVATIVE.Pages.Sites.InnovativeModel
@{
}

<div class="InnovativeInfoBackground1">
    <p class="InnovativeInfoHeader">LEGO INNOVATION</p>
    <p class="InnovativeInfoSlogan">Design by you</p>
</div>

<div class="InnovativeInfoBackground2">
    <p class="Section1Header">DESIGN</p>
    <p class="Section1Description">Design and create your own LEGO ideas. <br /> 
    Tell us your LEGO Idea is and we will make it come true.    
    </p>
    <img class="Section1Pic" src="~/media/pictures/Design-pic.png" />
</div>

<div class="InnovativeInfoBackground3">
    <p class="Section2Header">COMMUNICATION</p>
    <p class="Section2Description">Our Masterbuilders is always ready to help you with your Idea.<br />
        Together you will succed in creating your personal Idea through communication.<br />
    </p>
    <img class="Section2Pic" src="~/media/pictures/Communication-logo.png"/>
</div>

<div class="InnovativeInfoBackground4">
    <p class="Section3Header">PACKAGING</p>
    <p class="Section3Description">Recieve an exclusive package, special made for LEGO INNOVATIVE <br />
        Our packages is 100% made of recycled materials, and is completely CO2 neutral. <br />
        Choose the package for your needs! <br />
        psst... Some plans will give you the option to write a personal message.
    </p>
    <img class="Section3Pic" src="~/media/pictures/Box - signature vertical.png"/>
</div>

<div class="InnovativeInfoBackground5">
    <p class="Section4Header">BUILD</p>
    <p class="Section4Description">When your order is complete, we'll send you <br />
        your package with your design. <br /> <br />
        Our skillful Masterbuilders will make sure to <br /> send the parts needed and a manual on how to build your idea!<br /><br />
        Get building!
    </p>
    <img class="Section4Pic" src="~/media/pictures/Build-Logo.png"/>
</div>
<div class="InnovativeInfoBackground6">
    <p class="Section5Header">PICK YOUR IDEA</p>
    <div class="PlanDiv">
    <img src="~/media/pictures/StarterPlan.png"/>
    <img src="~/media/pictures/HobbyPlan.png"/>
    <img src="~/media/pictures/EnthusiastPlan.png"/>
    <img src="~/media/pictures/MasterPlan.png"/>
    </div>
    <a class="PlansLink" asp-page="/Sites/Overview">SEE PLANS</a>
</div>