@page
@model LEGOINNOVATIVE.Pages.Sites.OverviewModel
@{
}

<body>
    <div class="overview1-background">
        <div class="overviewParrent">
            <div>
                <a asp-page="/Orders/MakeOrder"><img class="overviewPic" src="~/media/pictures/StarterPlan.png" /></a>
            </div>
            <div class="overviewDescription">
                <h1 class="overviewHeader">STARTER</h1>
                <p class="overviewText">The starter package gives you the opportunity for a small idea, but nevertheless a great one! <br />
                You will recieve 1 minifigure, and a maximum of 500 bricks to use. <br />
                This package is perfect for casual LEGO play or as a gift. 
                </p>
            </div>
        </div> 
    </div>
    <div class="overview2-background">
        <div class="overviewParrent1080">
            <div>
                <a asp-page="/Orders/MakeOrder"><img class="overviewPic" src="~/media/pictures/HobbyPlan.png" /></a>
            </div>
            <div class="overviewDescription">
                <h1 class="overviewHeader">HOBBY</h1>
                <p class="overviewText">
                    Our most popular plan yet - HOBBY. The perfect plan for a medium build. <br />
                    The plan contains 3 minifigures, and a maximum of 1000 bricks to use. <br />
                    This package is optimized for a playfull and a creative building experience.
                </p>
            </div>
        </div>
    </div>
    <div class="overview3-background">
        <div class="overviewParrent1080">
            <div>
                <a asp-page="/Orders/MakeOrder"><img class="overviewPic" src="~/media/pictures/EnthusiastPlan.png" /></a>
            </div>
            <div class="overviewDescription">
                <h1 class="overviewHeader">ENTHUSIAST</h1>
                <p class="overviewText">
                    The Enthusiast plan is for our enthusiastic builders. <br />
                    The plan contains 5 minifigures, and a maximum of 2000 bricks to use. <br />
                    This package also gives the oppertunity for a personal message on the packaging.<br />
                    Select the Enthusiast plan for a more difficult building experince.
                </p>
            </div>
        </div>
    </div>
    <div class="overview4-background">
        <div class="overviewParrent1080">
            <div>
                <a asp-page="/Orders/MakeOrder"><img class="overviewPic" src="~/media/pictures/MasterPlan.png" /></a>
            </div>
            <div class="overviewDescription">
                <h1 class="overviewHeader">MASTER</h1>
                <p class="overviewText">
                    Our biggest package with 3500 bricks and a personal Brick Me Figure <br />
                    The plan contains up to five minifigures and a personal message <br />
                    The Master plan is perfert for a long-time build and for our most experinced LEGO builders.
                </p>
            </div>
        </div>
    </div>
</body>